/******************* PAGE ENTIÈRE *******************/
body {
  /* POLICE */
  font-family: "Raleway", Georgia, sans-serif;
  font-weight: normal;
  padding-left: 2em;
  padding-right: 2em;
}

/* LIENS */
a {
  color: inherit;
  text-decoration: none;
}

/******************* HEADER *******************/
/* HEARDER - NAV */
nav {
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: 30px;
}
/* HEARDER - NAV - LOGO */
nav #logo {
  width: 70%;
  margin: auto;
  padding-top: 20px;
}
/* HEARDER - NAV - MENU */
nav ul {
  list-style-type: none;
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
/* HEARDER - NAV - MENU - HÉBERGEMENTS */
#accommodations-link {
  color: #0065fc;
  border-top: thick solid #0065fc;
  padding-top: 30px;
  margin-right: 20px;
}
/* HEARDER - NAV - MENU - ACTIVITÉS */
#activities-link {
  color: black;
  padding-top: 30px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
nav a:hover {
  color: #0065fc;
  border-top: thick solid #0065fc;
  padding-top: 30px;
}
/* HEARDER - NAV - MENU - S'INSCRIRE */
#signup-link {
  color: #0065fc;
  font-weight: bold;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

/* HEARDER - RECHERCHE */
/* HEARDER - RECHERCHE - GRANDS TITRES */
header h1 {
  font-size: 1.4em;
}
header h2 {
  font-weight: normal;
  font-size: medium;
  margin-top: -10px;
}
/* HEARDER - RECHERCHE - FORM RECHERCHE */
#search-zone {
  margin-top: 20px;
}
#search-zone p {
  font-weight: bold;
}
/* HEARDER - RECHERCHE - FORM RECHERCHE - ICONE MAP */
#map {
  background-color: #f2f2f2;
  border: 1px solid transparent;
  border-radius: 10px 0px 0px 10px;
  padding: 15px;
  margin-right: -5px;
}
/* HEARDER - RECHERCHE - FORM RECHERCHE - CHAMP DE SAISIE VILLE */
#search-destination {
  border: thin solid #f2f2f2;
  padding: 15px;
  padding-bottom: 15px;
  margin-right: -5px;
}
#search-destination::placeholder {
  color: black;
  font-size: medium;
  font-weight: 500;
}

/* HEARDER - RECHERCHE - FORM RECHERCHE - BOUTON RECHERCHER */
#search-button {
  background-color: #0065fc;
  border: 1px solid transparent;
  border-radius: 0px 10px 10px 0px;
  padding: 13px;
  padding-bottom: 14px;
  font-weight: 500;
  color: white;
  font-size: medium;
}
/* HEARDER - RECHERCHE - FORM FILTRES */
#filters {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
}
#filters-title {
  font-weight: bold;
  font-size: medium;
  margin-right: 20px;
}
/* HEARDER - RECHERCHE - FORM FILTRES - BOUTONS */
#filters-buttons-row {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -15px;
}
.filter-button {
  font-weight: 500;
  font-size: medium;
  background-color: transparent;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  text-align: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 20px;
}
.filter-button:hover {
  background-color: #deebff;
  flex-grow: 0.1;
}
#filters .fas {
  background-color: #deebff;
  border: 1px solid transparent;
  color: #0065fc;
  border-radius: 50px;
  width: auto;
  padding: 13px;
  margin-left: -12px;
}
.filter-name {
  padding-left: 10px;
}
/* HEARDER - RECHERCHE - INFO */
#info .fas {
  color: #0065fc;
  text-align: center;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  padding: 5px;
  width: 15px;
  margin-left: -5px;
  margin-right: 10px;
}
/******************* MAIN - HÉBERGEMENTS *******************/
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2em;
}
h3 {
  font-size: medium;
  margin-bottom: 5px;
}
/******************* MAIN - SECTION 1 - LISTE HÉBERGEMENTS *******************/
#accommodations-list {
  background-color: #f2f2f2;
  border: 1px solid transparent;
  border-radius: 20px;
  margin-top: 2em;
  padding: 2em;
  display: flex;
  flex-direction: column;
}
#accommodation-cards-frame {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5em;
}
/* SECTION 1 - CARTES */
.accommodation-card {
  background-color: white;
  border: 5px solid transparent;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.accommodation-card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 6.5em;
  object-fit: cover;
}
.description-card {
  margin-top: -5px;
  margin-bottom: 0px;
  margin-left: 1em;
}
.range {
  font-size: 0.9em;
}
.low-price {
  font-weight: bold;
}
.accommodation-card .fas {
  color: #0065fc;
}
.rating .fas {
  color: #f2f2f2;
}

#accommodations-list p {
  font-weight: bold;
  margin-top: 2.5em;
}

/******************* MAIN - SECTION 2 - POPULAIRES *******************/
#popular-accommodations {
  background-color: #f2f2f2;
  border: 1px solid transparent;
  border-radius: 20px;
  margin-top: 2em;
  padding: 2em;
  display: flex;
  flex-direction: column;
}
#popular-header {
  display: flex;
  align-items: baseline;
}
#popular-header h1 {
  width: 90%;
}
#chart {
  width: 10%;
}
#popular-cards-frame {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2em;
}
/* SECTION 2 - CARTES */
.popular-card {
  background-color: white;
  border: 5px solid transparent;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  display: flex;
}
.popular-card img {
  border-radius: 20px 0px 0px 20px;
  width: 40%;
  height: 8em;
  object-fit: cover;
}
.popular-description-card {
  margin-left: 1em;
}
.rating-row {
  margin-top: 1.5em;
}
.popular-card .fas {
  color: #0065fc;
}
.rating .fas {
  color: #f2f2f2;
}
/******************* SECTION 3 - ACTIVITÉS *******************/
#activities {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
}
#activities-cards-frame {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2em;
}
.activities-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}
.activities-description-card {
  margin: 1em 1em 0em 1em;
  padding-bottom: 1em;
}
/* SECTION 3 - CARTE VIEUX PORT */
#port-activities-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
#port-activities-card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 23em;
  object-fit: cover;
}
/* SECTION 3 - CARTE FORT */
#fort-activities-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
#fort-activities-card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 10em;
  object-fit: cover;
}
/* SECTION 3 - CARTE ÎLES */
#îles-activities-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
#îles-activities-card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 7em;
  object-fit: cover;
}
/* SECTION 3 - CARTE PARC NATIONAL */
#parcn-activities-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
#parcn-activities-card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 23em;
  object-fit: cover;
}
/* SECTION 3 - CARTE NOTRE DAME */
#dame-activities-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
#dame-activities-card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 8.5em;
  object-fit: cover;
}
/* SECTION 3 - CARTE PARC */
#parc-activities-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
#parc-activities-card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 8.5em;
  object-fit: cover;
}
