/******************* PAGE ENTIÈRE *******************/
body {
  /* POLICE */
  font-family: "Raleway", Georgia, sans-serif;
  font-weight: normal;
}
/* LIENS */
a {
  color: inherit;
  text-decoration: none;
}

/******************* HEADER *******************/
header {
  padding-left: 2em;
  padding-right: 2em;
}
/** POINTS DE RUPTURE **/
@media all and (max-width: 768px) {
  header {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media all and (max-width: 375px) {
  header {
    padding-left: 0;
    padding-right: 0;
  }
}
/* HEARDER - NAV */
nav {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
}
/** POINTS DE RUPTURE **/
@media all and (max-width: 480px) {
  nav {
    display: grid;
    grid-template-areas:
      "logo signup"
      "accommodations activities";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
/* HEARDER - NAV - LOGO */
nav #logo {
  width: 70%;
  padding-top: 20px;
}
/** POINTS DE RUPTURE **/
@media all and (max-width: 1024px) {
  nav #logo {
    width: 50%;
  }
}
@media all and (max-width: 480px) {
  nav #logo {
    grid-area: logo;
    width: 100%;
  }
}
/* HEARDER - NAV - MENU */
nav ul {
  list-style-type: none;
  width: 20%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
@media all and (min-width: 690px) and (max-width: 1024px) {
  nav ul {
    width: 30%;
  }
}
@media all and (min-width: 481px) and (max-width: 689px) {
  nav ul {
    width: auto;
  }
}
@media all and (max-width: 480px) {
  nav ul {
    display: contents;
  }
}
/* HEARDER - NAV - MENU - HÉBERGEMENTS */
#accommodations-link {
  color: #0065fc;
}
/* POINTS DE RUPTURE **/
@media all and (min-width: 481px) {
  #accommodations-link {
    border-top: 2px solid #0065fc;
    padding-top: 31px;
  }
}
@media all and (max-width: 480px) {
  #accommodations-item {
    grid-area: accommodations;
    border-bottom: 2px solid #0065fc;
    margin: auto;
    text-align: center;
  }
}
/* HEARDER - NAV - MENU - ACTIVITÉS */
#activities-link {
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
/** POINTS DE RUPTURE **/
@media all and (min-width: 481px) {
  #activities-link {
    padding-top: 31px;
  }
}
@media all and (max-width: 480px) {
  #activities-link {
    padding-bottom: 10px;
    grid-area: activities;
  }
}
nav a:hover {
  color: #0065fc;
}
/** POINTS DE RUPTURE **/
@media all and (min-width: 481px) {
  nav a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 31px;
  }
}
@media all and (max-width: 480px) {
  nav a:hover {
    border-bottom: 2px solid #0065fc;
    padding-bottom: 10px;
  }
}
/* HEARDER - NAV - MENU - S'INSCRIRE */
#signup {
  margin: auto;
}
/** POINTS DE RUPTURE **/
@media all and (max-width: 480px) {
  #signup {
    grid-area: signup;
  }
}
#signup-link {
  color: #0065fc;
  font-weight: bold;
  padding-top: 31px;
  padding-left: 10px;
  padding-right: 10px;
}

/* HEARDER - RECHERCHE */
/** POINTS DE RUPTURE **/
@media all and (max-width: 768px) {
  #search {
    padding-left: 1em;
    padding-right: 1em;
  }
}
/* HEARDER - RECHERCHE - GRANDS TITRES */
header h1 {
  font-size: 1.4em;
}
header h2 {
  font-weight: normal;
  font-size: medium;
  margin-top: -10px;
}
/* HEARDER - RECHERCHE - FORM RECHERCHE */
#search-zone {
  margin-top: 20px;
}
#search-zone p {
  font-weight: bold;
}
/* HEARDER - RECHERCHE - FORM RECHERCHE - ICONE MAP */
#map {
  background-color: #f2f2f2;
  border: 1px solid transparent;
  border-radius: 10px 0px 0px 10px;
  padding: 17px;
  padding-bottom: 16px;
  margin-right: -5px;
}
/* HEARDER - RECHERCHE - FORM RECHERCHE - CHAMP DE SAISIE VILLE */
#search-destination {
  border: thin solid #f2f2f2;
  padding: 15px;
  padding-bottom: 15px;
  margin-right: -5px;
  font-size: medium;
  width: 20%;
}
#search-destination::placeholder {
  color: black;
  font-size: medium;
  font-weight: 500;
}
/** POINTS DE RUPTURE **/
@media all and (min-width: 600px) and (max-width: 768px) {
  #search-destination {
    width: 31%;
  }
}
@media all and (min-width: 500px) and (max-width: 599px) {
  #search-destination {
    width: 43%;
  }
}
@media all and (min-width: 386px) and (max-width: 500px) {
  #search-destination {
    width: 60%;
  }
}
@media all and (min-width: 320px) and (max-width: 385px) {
  #search-destination {
    width: 55%;
  }
}
@media all and (min-width: 280px) and (max-width: 319px) {
  #search-destination {
    width: 47%;
  }
}
/* HEARDER - RECHERCHE - FORM RECHERCHE - BOUTON RECHERCHER */
#search-button {
  background-color: #0065fc;
  border: 1px solid transparent;
  border-radius: 0px 10px 10px 0px;
  padding: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  color: white;
  font-size: medium;
}
#search-button .fas {
  display: none;
}
/** POINTS DE RUPTURE **/
@media all and (max-width: 500px) {
  #search-button {
    border-radius: 15px;
    margin-left: -10px;
  }
  #text-search-button {
    display: none;
  }
  #search-button .fas {
    display: inline;
    align-self: center;
  }
}
/* HEARDER - RECHERCHE - FORM FILTRES */
#filters {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-wrap: wrap;
}
#filters-title {
  font-weight: bold;
  font-size: medium;
  margin-right: 20px;
}
/* HEARDER - RECHERCHE - FORM FILTRES - BOUTONS */
#filters-buttons-row {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -15px;
}
.filter-button {
  font-weight: 500;
  font-size: medium;
  background-color: transparent;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  text-align: center;
  width: fit-content;
  padding-left: 10px;
  padding-right: 20px;
}
/******** POINTS DE RUPTURE *********/
@media all and (max-width: 1080px) {
  #filters-buttons-row {
    flex-wrap: wrap;
    width: 90%;
  }
}
@media all and (max-width: 991px) {
  filter {
    flex-direction: column;
  }
  #filters-buttons-row {
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  #filters-buttons-row {
    justify-content: flex-start;
  }
  .filter-button {
    margin: 0.5em;
  }
}
@media all and (max-width: 554px) {
  .filter-button {
    margin: 0 0.5em 0.5em 0;
  }
}
.filter-button:hover {
  background-color: #deebff;
  flex-grow: 0.1;
}
#filters .fas {
  background-color: #deebff;
  border: 1px solid transparent;
  color: #0065fc;
  border-radius: 50px;
  width: auto;
  padding: 13px;
  margin-left: -12px;
}
.filter-name {
  padding-left: 10px;
}
/* HEARDER - RECHERCHE - INFO */
#info .fas {
  color: #0065fc;
  text-align: center;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  padding: 5px;
  width: 15px;
  margin-left: -5px;
  margin-right: 10px;
}
/** POINTS DE RUPTURE **/
@media all and (max-width: 768px) {
  #info {
    margin-left: 0.5em;
  }
}
/******************* MAIN - HÉBERGEMENTS *******************/
main {
  display: grid;
  grid-template-columns: 66% 1fr;
  grid-gap: 2em;
  padding-left: 2em;
  padding-right: 2em;
}
/** POINTS DE RUPTURE RESPONSIVE **/
@media all and (max-width: 1173px) {
  main {
    grid-template-columns: 67% 1fr;
  }
}
@media all and (max-width: 1173px) {
  main {
    grid-template-columns: 68% 1fr;
  }
}
@media all and (max-width: 1105px) {
  main {
    grid-template-columns: 69% 1fr;
  }
}
@media all and (max-width: 1091px) {
  main {
    grid-template-columns: 70% 1fr;
  }
}
@media all and (max-width: 1076px) {
  main {
    grid-template-columns: 71% 1fr;
  }
}
@media all and (max-width: 1062px) {
  main {
    grid-template-columns: 72% 1fr;
  }
}
@media all and (max-width: 1024px) {
  main {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 0;
    padding-right: 0;
  }
}
h3 {
  font-size: medium;
  margin-bottom: 5px;
}
/******************* MAIN - SECTION 1 - LISTE HÉBERGEMENTS *******************/
#accommodations-list {
  background-color: #f2f2f2;
  border: 1px solid transparent;
  border-radius: 20px;
  margin-top: 2em;
  padding: 2em;
  display: flex;
  flex-direction: column;
}
/** POINTS DE RUPTURE RESPONSIVE **/
@media all and (max-width: 1190px) {
  #accommodations-list {
    padding-bottom: 0;
  }
}
@media all and (max-width: 1024px) {
  #accommodations-list {
    background-color: transparent;
    margin-top: 0;
  }
}
@media all and (max-width: 767) {
  #accommodations-list {
    background-color: transparent;
    margin-top: 0;
    padding: 0;
  }
}
#accommodation-cards-frame {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1.5em;
  grid-row-gap: 2em;
}
/** POINTS DE RUPTURE RESPONSIVE **/
@media all and (max-width: 1122px) {
  #accommodation-cards-frame {
    grid-row-gap: 3em;
  }
}
@media all and (max-width: 1024px) {
  #accommodation-cards-frame {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    grid-row-gap: 2em;
  }
}
/* SECTION 1 - CARTES */
.accommodation-card {
  background-color: white;
  border: 5px solid transparent;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.accommodation-card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 6.5em;
  object-fit: cover;
}
/** POINTS DE RUPTURE RESPONSIVE **/
@media all and (max-width: 1122px) {
  .accommodation-card img {
    height: 8.5em;
  }
}
@media all and (max-width: 1091px) {
  .accommodation-card img {
    height: 9.5em;
  }
}
@media all and (max-width: 1024px) {
  .accommodation-card img {
    height: min-content;
  }
}
@media all and (max-width: 425px) {
  .accommodation-card img {
    height: 7em;
  }
}
@media all and (max-width: 375px) {
  .accommodation-card img {
    height: 6em;
  }
}
.description-card {
  margin-top: -5px;
  margin-bottom: 0px;
  margin-left: 1em;
}
/** POINTS DE RUPTURE RESPONSIVE **/
@media all and (max-width: 1190px) {
  .description-card {
    margin-left: 0.5em;
  }
}
.range {
  font-size: 0.9em;
  margin-bottom: auto;
}
.low-price {
  font-weight: bold;
}
.accommodation-card .fas {
  color: #0065fc;
}
.rating .fas {
  color: #f2f2f2;
}

#accommodations-list p {
  font-weight: bold;
  margin-top: 2.5em;
}
/** POINTS DE RUPTURE RESPONSIVE **/
@media all and (max-width: 1173px) {
  #accommodations-list p {
    margin: auto 0;
  }
}
/******************* MAIN - SECTION 2 - POPULAIRES *******************/
#popular-accommodations {
  background-color: #f2f2f2;
  border: 1px solid transparent;
  border-radius: 20px;
  margin-top: 2em;
  padding: 2em;
  display: flex;
  flex-direction: column;
}
/** POINTS DE RUPTURES RESPONSIVE **/
@media all and (max-width: 1111px) {
  #popular-accommodations {
    padding: 1em 2em 2em 2em;
  }
}
@media all and (max-width: 1024px) {
  #popular-accommodations {
    border-radius: 0px;
  }
}
#popular-accommodations header {
  display: flex;
  align-items: baseline;
  padding-left: 0;
  padding-right: 0;
}
#popular-header h1 {
  width: 100%;
}
/** POINTS DE RUPTURES RESPONSIVE **/
@media all and (max-width: 1111px) {
  #chart {
    align-self: center;
  }
}
#popular-cards-frame {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2em;
}
/** POINTS DE RUPTURES RESPONSIVE **/
@media all and (max-width: 1105px) {
  #popular-cards-frame {
    grid-gap: 1em;
  }
}
/* SECTION 2 - CARTES */
.popular-card {
  background-color: white;
  border: 5px solid transparent;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  display: flex;
}
.popular-card img {
  border-radius: 20px 0px 0px 20px;
  width: 40%;
  height: 8em;
  object-fit: cover;
}
/** POINTS DE RUPTURES RESPONSIVE **/
@media all and (max-width: 1173px) {
  .popular-card img {
    height: 9em;
  }
}
@media all and (max-width: 1122px) {
  .popular-card img {
    height: 10em;
  }
}
@media all and (max-width: 1105px) {
  .popular-card img {
    height: 11em;
  }
}
@media all and (max-width: 1024px) {
  .popular-card img {
    height: 8em;
  }
}
@media all and (max-width: 350px) {
  .popular-card img {
    height: 10em;
  }
}
.popular-description-card {
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/** POINTS DE RUPTURE RESPONSIVE **/
@media all and (max-width: 1190px) {
  .popular-description-card {
    margin-left: 0.5em;
  }
}
@media all and (max-width: 1024px) {
  .popular-description-card {
    margin-left: 1em;
  }
}
.rating-row {
  margin-bottom: auto;
}
.popular-card .fas {
  color: #0065fc;
}
.rating .fas {
  color: #f2f2f2;
}
/******************* SECTION 3 - ACTIVITÉS *******************/
#activities {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
  padding-right: 2em;
}
/**POINTS DE RUPTURES RESPONSIVE **/
@media all and (max-width: 767px) {
  #activities {
    padding-left: 1em;
    padding-right: 1em;
  }
}
#activities h3 {
  margin-bottom: 0;
}
#activities-cards-frame {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2em;
}

.activities-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/**POINTS DE RUPTURES RESPONSIVE **/
@media all and (max-width: 1024px) {
  #activities-cards-frame {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2em;
  }
  .activities-column {
    display: grid;
    grid-row-gap: 2em;
  }
}
.activities-description-card {
  margin: 1em 1em 0em 1em;
  padding-bottom: 1em;
}
/* SECTION 3 - CARTE VIEUX PORT */
#port-activities-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
#port-activities-card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 23em;
  object-fit: cover;
}
/**POINTS DE RUPTURES RESPONSIVE **/
@media all and (max-width: 1024px) {
  #port-activities-card img {
    height: 10em;
  }
}
/* SECTION 3 - CARTE FORT */
#fort-activities-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
#fort-activities-card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 10em;
  object-fit: cover;
}
/* SECTION 3 - CARTE ÎLES */
#îles-activities-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
#îles-activities-card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 7em;
  object-fit: cover;
}
/**POINTS DE RUPTURES RESPONSIVE **/
@media all and (max-width: 1024px) {
  #îles-activities-card img {
    height: 10em;
  }
}
/* SECTION 3 - CARTE PARC NATIONAL */
#parcn-activities-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
#parcn-activities-card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 23em;
  object-fit: cover;
}
/** POINTS DE RUPTURE **/
@media all and (max-width: 1184px) {
  #parcn-activities-card img {
    height: 22em;
  }
}
@media all and (max-width: 1024px) {
  #parcn-activities-card img {
    height: 10em;
  }
}
/* SECTION 3 - CARTE NOTRE DAME */
#dame-activities-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
#dame-activities-card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 8.5em;
  object-fit: cover;
}
/**POINTS DE RUPTURES RESPONSIVE **/
@media all and (max-width: 1024px) {
  #dame-activities-card img {
    height: 10em;
  }
}
/* SECTION 3 - CARTE PARC */
#parc-activities-card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
#parc-activities-card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 8.5em;
  object-fit: cover;
}
/**POINTS DE RUPTURES RESPONSIVE **/
@media all and (max-width: 1024px) {
  #parc-activities-card img {
    height: 10em;
  }
}
/******************* FOOTER *******************/
footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  margin: 4em -0.5em -1em -1em;
  padding: 1em 2.3em;
}
footer p {
  margin-bottom: 0;
}
footer div {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0.5em;
}
/**POINTS DE RUPTURES RESPONSIVE **/
@media all and (max-width: 600px) {
  footer {
    flex-direction: column;
  }
  footer div {
    width: 100%;
  }
}
